body {
  display: flex;
  margin: 5rem;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
}

img {
  height: 200px;
  width: 200px;
}

li {
  text-decoration: none;
  list-style: none;
}
